.page {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 77.05px auto 0;
  padding: 0 0 0 120px;
  background-color: #f4f4f4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 0 0 0 80px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0 0 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0 18px;
    margin-top: 74px;
  }
}