.page {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 77.05px auto 0;
  padding: 0 0 0 120px;
  background-color: #F4F4F4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
