.quote {
  padding: 120px 120px 60px 120px;
  margin: 0;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .quote {
    padding-top: 80px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .quote {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .quote {
    padding: 0 18px 40px 18px;
    flex-direction: column;
  }
}
