.burger-menu {
  display: none;
}

@media screen and (max-width: 320px) {
  .burger-menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 22px;
    min-height: 16px;
  }
}
