.line-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .line-mobile {
    display: block;
    width: 100%;
    min-width: 284px;
    box-sizing: border-box;
    height: 0px;
    border: 1px solid #e3e3e3;
    margin: 40px auto;
    order: -10;
  }
}
