.highway-section__label {
  position: absolute;
  bottom: 16px;
  width: 100px;
  height: 40px;
}

@media screen and (max-width: 320px) {
  .highway-section__label {
    width: 70px;
    height: 28px;
  }
}
