.header {
  padding: 28px 120px 28px 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  z-index: 1;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 18px 30px;
    min-height: 74px;
  } 
}
