.filter-select__form {
  min-width: 114px;
  min-height: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  padding: 8px 12.5px 8px 12px;
  font-weight: 600;
  font-size: 11px;
  line-height: 127%;
  color: #151515;
}
