.bike__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #151515;
  transition: opacity 0.1s ease-in-out;
}

.bike__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .bike__link {
    font-size: 14px;
    line-height: 129%;
  }
}
