.start-section {
  max-width: 100%;
  padding: 20px 0 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: max-content minmax(min-content, 610px);
  grid-template-rows: repeat(2, min-content);
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .start-section {
    grid-template-columns: minmax(min-content, 1fr);
    padding: 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .start-section {
    grid-template-columns: minmax(min-content, 284px);
  }
}
