.training-section__image {
  min-width: 284px;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .training-section__image {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    margin: 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .training-section__image {
    margin: 0;
  }
}
