.filter-select {
  display: none;
}

@media screen and (max-width: 768px) {
  .filter-select {
    display: flex;
    justify-content: start;
    margin: 40px 0 34.95px;
  }
}

@media screen and (max-width: 320px) {
  .filter-select {
    margin-top: 0;
  }
}
