@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter_Web/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

/*HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/burger-menu/burger-menu.css);
@import url(../blocks/burger-menu/__line/burger-menu__line.css);
@import url();

/*MAIN*/
@import url(../blocks/line-mobile/line-mobile.css);

/*SECTION 1*/
@import url(../blocks/section/section.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/section/__subtitle/section__subtitle.css);
@import url(../blocks/start-section/start-section.css);
@import url(../blocks/start-section/__container/start-section__container.css);
@import url(../blocks/start-section/__extra-container/start-section__extra-container.css);
@import url(../blocks/start-section/__button/start-section__button.css);
@import url(../blocks/start-section/__button-text/start-section__button-text.css);
@import url(../blocks/start-section/__maybelink/start-section__maybelink.css);
@import url(../blocks/start-section/__image/start-section__image.css);

/*SECTION 2 - BLOCKQUOTE*/
@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__image/quote__image.css);
@import url(../blocks/quote/__container/quote__container.css);
@import url(../blocks/quote/__text/quote__text.css);
@import url(../blocks/quote/__author/quote__author.css);
@import url(../blocks/quote/__author-name/quote__author-name.css);
@import url(../blocks/quote/__author-prof/quote__author-prof.css);
@import url();
@import url();

/*SECTION 3*/
@import url(../blocks/highway-section/highway-section.css);
@import url(../blocks/highway-section/__label/highway-section__label.css);
@import url(../blocks/highway-section/__images/highway-section__images.css);
@import url(../blocks/highway-section/__image/highway-section__image.css);
@import url(../blocks/highway-section/__buttons/highway-section__buttons.css);
@import url(../blocks/highway-section/__button/highway-section__button.css);

/*SECTION 4 - CARD LIST BIKE*/
@import url(../blocks/bike/bike.css);
@import url(../blocks/bike/__title/bike__title.css);
@import url(../blocks/bike/__list/bike__list.css);
@import url(../blocks/bike/__item/bike__item.css);
@import url(../blocks/bike/__card/bike__card.css);
@import url(../blocks/bike/__border-img/bike__border-img.css);
@import url(../blocks/bike/__img/bike__img.css);
@import url(../blocks/bike/__link/bike__link.css);
@import url(../blocks/bike/__link/_card/bike__link_card_in.css);
@import url(../blocks/bike/__link/_card/bike__link_card_out.css);

@import url(../blocks/bike/__buttons/bike__buttons.css);
@import url(../blocks/bike/__buttons-list/bike__buttons-list.css);
@import url(../blocks/bike/__button/bike__button.css);
@import url(../blocks/bike/__button/_active/bike__button_active.css);



@import url(../blocks/filter/filter.css);
@import url(../blocks/filter/__list/filter__list.css);
@import url(../blocks/filter/__item/filter__item.css);
@import url(../blocks/filter/__link/filter__link.css);
@import url(../blocks/filter/__link/_active/filter__link_active.css);

@import url(../blocks/filter-select/filter-select.css);
@import url(../blocks/filter-select/__form/filter-select__form.css);

/*SECTION 5*/
@import url(../blocks/training-section/training-section.css);
@import url(../blocks/training-section/__links/training-section__links.css);
@import url(../blocks/training-section/__link/training-section__link.css);
@import url(../blocks/training-section/__image/training-section__image.css);

/*FOOTER*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__subtitle/footer__subtitle.css);

