.training-section__links {
  margin: 182px 0 0 0;
  padding: 0;
  display: flex;
  align-self: end;
}

@media screen and (max-width: 930px) {
  .training-section__links {
    margin: 120px 0 0 0;
  }
}

@media screen and (max-width: 880px) {
  .training-section__links {
    margin: 80px 0 0 0;
  }
}

@media screen and (max-width: 830px) {
  .training-section__links {
    margin: 40px 0 0 0;
  }
}
