.quote__author-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #151515;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .quote__author-name {
    font-size: 14px;
    line-height: 157%;
  }
}
