.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 460px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .section__title {
    max-width: 732px;
  }
}

@media screen and (max-width: 320px) {
  .section__title {
    max-width: 284px;
    font-size: 32px;
    line-height: 1.25;
    margin: 0 0 40px 0;
    order: -2;
  }
}
